$dark-blue: #002B5B;
$dark-green: #06A788;
$soft-blue: #8FE3CF;

.navbar-home {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 80px;

  img {
    padding-top: 2%;
    width: 20%;
  }

  .nav-signup {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: white;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
      color: white;
      transform: scale(1.02);
    }
  }

  .nav-login {
    background-color: white;
    border-color: $dark-blue;
    color: black;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
      color: white;
    }
  }
}