$dark-blue: #002B5B;
$dark-green: #06A788;
$soft-blue: #8FE3CF;

.register {
  background-color: $soft-blue;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin-top: 7%;

  .register-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
  }

  .form-label {
    font-size: 12px;
  }

  .text {
    font-size: 14px;
  }

  .register-btn {
    width: 100%;
    background-color: $dark-green;
    border-color: $dark-green;
    border-radius: 16px;
    height: 45px;
    color: white;

    &:hover {
      background-color: $dark-green;
      border-color: $dark-green;
      transform: scale(1.02);
      color: white;
    }
  }
}